@import "tailwindcss";

.input-icon {
  position: absolute;
  left: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  color: #071b3a;
}

.auth-input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #d1d5db;
  padding-left: 2.6rem;
  padding-right: 1rem;
  outline: none;
  font-size: 0.875rem;
  transition: border-color 0.2s ease;
}

.auth-input:focus {
  border-color: #000;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shine {
  0% {
    transform: translateX(-200px) rotate(12deg);
  }

  100% {
    transform: translateX(1600px) rotate(12deg);
  }
}